:root{
    --primary-color: #e2854c;
    --footer-color: #159396;
    --background-down-color: #67c7c9;
    --text-color: #000;
    --text-color-menu: #fff;
    --background-color: #fff;
    --ops-color: #000;
    --font-family: 'Roboto', sans-serif;
    --font-size: 1rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
ul, li, a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none
}    
input, button {
    background-color: transparent;
    border: 0
}  
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
}
header{
    display: grid;
    grid-template-rows: 3.5rem 61.4rem;
    background-image: url(../images/backgroundUp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
.header__menu-navegacion{
    display: inline-flex;
}
.header__nav-item{
    padding: 0 1rem;
    border-right: 2px solid var(--text-color-menu);
    margin: 0.5rem;
    
}
.header__nav-item:last-child{
    border-right: 0;
}
.header__nav-item a{
    color: var(--text-color-menu);
    padding-right: 1rem;
}
.header__main{
    display: grid;
    grid-template-rows: 45rem 16.5rem;
}
.header__top{
    display: grid;
    grid-template-rows: 1fr 2fr;
    background: linear-gradient(180deg, rgba(226, 133, 76, 0.5) 0%, rgba(226, 133, 76, 0) 100%), url(../images/plaza.jpg);
    /*background-image: url(../images/plaza.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__top-logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header__logo, .header__oager{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__oager{
    text-align: center;
}
h1{
    white-space: pre-line;
}
.header__top-banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.header__banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__banner img{
    border-radius: 10px;
}
.header__footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
}
.header__menu-footer{
    display: inline-flex;
}
.header__menu-tlf, .header__menu-hora, .header__menu-rrss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border-right: 2px solid var(--ops-color);
}
.header__menu-rrss{
    border-right: 0;
}
.header__menu-tlf .fas,
.header__menu-tlf p,
.header__menu-hora .header__menu-hora-parrafo,
.header__menu-hora .far,
.header__menu-rrss .header__menu-rrss-icons
{
    padding-right: 1rem;
}
.header__menu-rrss-icons{
    color: var(--text-color);
    font-size: calc(var(--font-size) + 0.75rem);
}
.fas, .far{
    font-size: calc(var(--font-size) + 0.25rem);
}
.header__menu-buscar{
    background: var(--background-color);
    border: 3px solid var(--background-down-color);
    box-sizing: border-box;
    border-radius: 50px;
}
.header__menu-buscar i{
    font-size: var(--font-size);
    padding: calc(var(--font-size) - 0.5rem);
}
main{
    display: grid;
    grid-template-rows: auto;
}
.main__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.main__menu-cita, .main__menu-sede, .main__menu-auto, .main__menu-defens{
    padding: 1rem 2.5rem;
    text-align: center;
    font-weight: bold;
}
.main__menu i{
    font-size: calc(var(--font-size) + 6rem);
    padding: 1rem;
    color: var(--footer-color);
}
.main__menu p{
    font-size: calc(var(--font-size) + 0.25rem);
    padding: 1rem;
    color: var(--footer-color);
}
.main__aviso{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 3rem 10rem;
    border: 1px solid var(--background-down-color);
    box-sizing: border-box;
    border-radius: 5px;
}
.main__aviso .fas{
    color: var(--footer-color);
    padding: 1rem;
}
.main__aviso-parrafo{
    padding: 1rem;
    padding-left: 0;
}
.main__apartados{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 9rem;
    background-image: url(../images/backgroundDown.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.main__apartados h2{
    background: var(--footer-color);
    color: var(--text-color-menu);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 0.5rem;
}
.main__apartados ul{
    background: var(--background-color);
    border: 2px solid var(--footer-color);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    height: 16rem;
    padding: 0.5rem;
}
.main__apartados li{
    text-align: center;
    padding-bottom: 0.25rem;
}
.main__apartados a{
    color: var(--text-color);
}