:root{
    --primary-color: #e2854c;
    --footer-color: #159396;
    --background-down-color: #67c7c9;
    --text-color: #000;
    --text-color-menu: #fff;
    --background-color: #fff;
    --ops-color: #000;
    --font-family: 'Roboto', sans-serif;
    --font-size: 1rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
ul, li, a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none
}    
input, button {
    background-color: transparent;
    border: 0
}  
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
}
header{
    display: grid;
    grid-template-rows: 3.5rem 61.4rem;
    background-image: url(../images/backgroundUp.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header__nav-logo{
    display: none;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
.header__menu-navegacion{
    display: inline-flex;
}
.header__menu-navegacion-responsive{
    align-items: center;
    border-bottom: 2px solid var(--text-color-menu);
    display: none;
    grid-template-columns: 85% 15%;
    grid-template-rows: auto;
    padding: 1.5rem 0;
    text-align: center;
    width: 100%;    
}
.header__menu-navegacion-responsive p{
    font-size: calc(var(--font-size) + 1rem);
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 15%;
}
.header__nav-item{
    padding: 0 1rem;
    border-right: 2px solid var(--text-color-menu);
    margin: 0.5rem;
}
.header__nav-item:last-child{
    border-right: 0;
}
.header__nav-item a{
    color: var(--text-color-menu);
    padding-right: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
}
.header__nav-item:hover{
    opacity: 0.7;
}
.header__nav-item .fas{
    display: none;
}
.header__main{
    display: grid;
    grid-template-rows: 45rem 16.5rem;
}
.header__top{
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-image: url(../images/plazaSala.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__top-logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header__logo, .header__oager{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__oager{
    text-align: center;
}
h1{
    white-space: pre-line;
}
.header__top-banner{
    display: grid;
    grid-template-columns: auto 16.5rem auto;
}
.header__banner-cita{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header__banner-plus{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.header__banner-cita img, .header__banner-plus img{
    border-radius: 10px;
}
.header__avisos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__avisos p{
    display: inline-flex;
    width: 241px;
    height: 241px;
    background-color: var(--background-down-color);
    border-radius: 10px;
    color: var(--text-color-menu);
    justify-content: center;
    padding: 1rem;
    text-decoration: underline;
    font-weight: bold;
    font-size: calc(var(--font-size) - 0.1rem);
}
.header__footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
}
.header__menu-footer{
    display: inline-flex;
}
.header__menu-tlf, .header__menu-hora, .header__menu-rrss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border-right: 2px solid var(--ops-color);
}
.header__menu-tlf p{
    white-space: pre-line;
}
.header__menu-rrss{
    border-right: 0;
}
.header__menu-tlf .fas,
.header__menu-tlf p,
.header__menu-hora .header__menu-hora-parrafo,
.header__menu-hora .header__menu-hora-hora,
.header__menu-hora .far,
.header__menu-rrss .header__menu-rrss-icons
{
    padding-right: 1rem;
    color: var(--text-color);
}
.header__menu-rrss-icons{
    color: var(--text-color);
    font-size: calc(var(--font-size) + 0.75rem);
}
.header__menu-rrss-icons i:hover{
    color: var(--text-color-menu);
}
.fas, .far{
    font-size: calc(var(--font-size) + 0.25rem);
}
.header__menu-buscar{
    background: var(--background-color);
    border: 3px solid var(--background-down-color);
    box-sizing: border-box;
    border-radius: 50px;
}
.header__menu-buscar i{
    font-size: var(--font-size);
    padding: calc(var(--font-size) - 0.5rem);
}
input:focus{
    border: 0;
    outline: 0 none
}
.header__menu-rrss form{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1200px){
    .header__nav-item .fas{
        display: block;
        padding: 1rem;
        font-size: calc(var(--font-size) + 0.75rem);
    }
    .header__menu-navegacion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__nav-item{
        display: flex;
        border-right: none;
        width: 100%;
    }
    .header__nav-item-responsive{
        display: none;
    }
    .header__top-banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__banner-cita, .header__banner-plus, .header__avisos{
        padding: 1rem;
    }
    .header__avisos p{
        width: 450px;
        height: 143px;
    }
    .header__menu-rrss2{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width: 992px){
    .header__menu-tlf .fas, 
    .header__menu-tlf p, 
    .header__menu-hora .header__menu-hora-parrafo, 
    .header__menu-hora .header__menu-hora-hora, 
    .header__menu-hora .far, 
    .header__menu-rrss .header__menu-rrss-icons {
        text-align: center;
        padding: 0.2rem;
    }
    .header__menu-tlf, .header__menu-hora, .header__menu-rrss{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px){
    .header__nav-logo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .header__nav-logo i,
    .header__menu-navegacion-responsive i{
        font-size: calc(var(--font-size) + 1rem);
        cursor: pointer;
        transition: all 0.1s ease;
    }
    .header__nav-logo i:hover,
    .header__menu-navegacion-responsive i:hover{
        opacity: .5;
    }
    .header__logo-responsive img{
        height: 3rem;
    }
    nav{
        height: 100vh;
        left: -100%;
        overflow-y: auto;
        position: absolute;
        top: 0;
        transition: all 0.3s ease;
        width: 100%
    }
    .header__top{
        display: grid;
        grid-template-rows: auto;
    }
    .header__top-logo{
        display: none;
    }
    .header__top-banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__banner-cita, .header__banner-plus, .header__avisos{
        padding: 1rem 0;
    }
    .header__avisos p{
        width: 450px;
        height: 143px;
    }
    .header__menu-tlf, .header__menu-hora, .header__menu-rrss{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__menu-hora p, .header__menu-tlf p,
    .header__menu-hora i, .header__menu-tlf i
    {
        text-align: center;
        padding: 0.2rem;
    }
}
@media screen and (max-width: 576px){
    .header__main{
        grid-template-rows: 487px auto;
    }
    .header__top{
        background-image: url(../images/plazaSalaM.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
    .header__top, .header__top-banner{
        height: 487px;
    }
    .header__avisos p{
        width: 300px;
        height: 95px;
    }
    .header__footer{
        padding-top: 0;
    }
    .header__menu-footer{
        display: flex;
        flex-direction: column;
    }
    .header__menu-tlf, .header__menu-hora, .header__menu-rrss{
        border-right: none;
        padding: 1rem;
    }
    .header__menu-tlf{
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: auto auto;
        grid-template-areas: "icono numero"
                             ". hora";
    }
    .header__menu-tlf-hora{
        grid-area: hora;
    }
    .header__menu-hora{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "icono numero"
                             ". fecha";
    }
    .header__menu-hora-parrafo{
        grid-area: fecha;
    }
    .header__menu-tlf-num p, .header__menu-tlf-hora p, 
    .header__menu-hora p, .header__menu-hora .header__menu-hora-hora{
        text-align: left;
    }
    .header__menu-rrss{
        display: flex;
        flex-direction: row;
        padding: 0.2rem;
    }
    .header__menu-rrss2, .header__menu-rrss-icons{
        padding: 0.5rem;
    }
}
main{
    display: grid;
    grid-template-rows: auto;
}
.main__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9rem;
}
.main__menu-cita, .main__menu-sede, .main__menu-auto, .main__menu-defens{
    padding: 1rem 2.5rem;
    text-align: center;
    font-weight: bold;
}
.main__menu-cita:hover, 
.main__menu-sede:hover, 
.main__menu-auto:hover, 
.main__menu-defens:hover
{
    opacity: 0.7;
}
.main__menu-defens p{
    white-space: pre-line;
}
.main__menu-cita{
    padding-left: 0;
}
.main__menu-defens{
    padding-right: 0;
}
.main__menu i{
    font-size: calc(var(--font-size) + 6rem);
    padding: 1rem;
    color: var(--footer-color);
}
.main__menu p{
    font-size: calc(var(--font-size) + 0.25rem);
    padding: 1rem;
    color: var(--footer-color);
}
.main__aviso{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 3rem 9rem;
    border: 1px solid var(--background-down-color);
    box-sizing: border-box;
    border-radius: 5px;
}
.main__aviso .fas{
    color: var(--footer-color);
    padding: 1rem;
}
.main__aviso-parrafo{
    padding: 1rem;
    padding-left: 0;
}
.main__apartados{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "organizacion normativa calendario info-catastral"
                         "buzon documentacion tramitacion calidad"
                         ". info-financiera estadisticas .";
    grid-gap: 2rem;
    padding: 9rem;
    background-image: url(../images/backgroundDown.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.main__apartados-informacion-financiera{
    grid-area: info-financiera;
}
.main__apartados-estadisticas{
    grid-area: estadisticas;
}
.main__apartados h2{
    background: var(--footer-color);
    color: var(--text-color-menu);
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 0.5rem;
}
.main__apartados ul{
    background: var(--background-color);
    border: 2px solid var(--footer-color);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    height: 18.5rem;
    padding: 0.5rem;
}
.main__apartados li{
    text-align: center;
    padding-bottom: 0.5rem;
}
.main__apartados a{
    color: var(--text-color);
}
.main__apartados a:hover{
    opacity: 0.8;
    font-weight: bold;
}
@media screen and (max-width: 1200px){
    .main__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem;
    }
    .main__menu-cita, 
    .main__menu-sede, 
    .main__menu-auto, 
    .main__menu-defens{
        padding: 0;
    }
    .main__apartados{
        padding: 2rem;
    }
    .main__aviso{
        margin: 3rem 2rem;
    }
}
@media screen and (max-width: 992px){
    .main__menu {
        display: flex;
        flex-direction: row;
        padding: 2rem;
    }
    .main__apartados{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "organizacion normativa calendario"
                            "info-catastral buzon documentacion"
                            "tramitacion calidad info-financiera"
                            ". estadisticas .";
        grid-gap: 2rem;
        padding: 2rem;
    }
}
@media screen and (max-width: 768px){
    .main__menu {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: space-evenly;
        grid-gap: 5rem;
    }
    .main__apartados{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "organizacion normativa"
                            "calendario info-catastral"
                            "buzon documentacion"
                            "tramitacion calidad"
                            "info-financiera estadisticas";
        grid-gap: 2rem;
        padding: 2rem;
    }
}
@media screen and (max-width: 576px){
    .main__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main__apartados{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem;
    }
    .main__apartados ul{
        height: 19.5rem;
    }
    .main__aviso{
        margin: 4rem;
    }
}
footer{
    background-color: var(--footer-color);
}
.footer__main{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 1.25rem 15rem;
    gap: 1.25rem;
}
.footer__logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer__parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__parrafo p, .footer__parrafo a{
    color: var(--text-color-menu);
    font-size: calc(var(--font-size) - 0.1rem);
    text-align: justify;
}
.footer__parrafo a:hover{
    opacity: 0.7;
}
.footer__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top: 2px solid var(--background-color);
}
.footer__menu-navegacion{
    display: inline-flex;
}
.footer__nav-item{
    padding: 0 1rem;
    border-right: 2px solid var(--text-color-menu);
    margin: 0.5rem;
    text-align: center;
}
.footer__nav-item:last-child{
    border-right: 0;
}
.footer__nav-item a{
    color: var(--text-color-menu);
    padding-right: 1rem;
    font-size: calc(var(--font-size) - 0.125rem);
    text-transform: uppercase;    
}
.footer__nav-item:hover{
    opacity: 0.7;
}
@media screen and (max-width: 1200px){
    .footer__main{
        padding: 1.25rem 7rem;
    }
}
@media screen and (max-width: 768px){
    .footer__main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.25rem 3rem;
    }
    .footer__parrafo p{
        text-align: center;
    }
    .footer__nav-item{
        margin: 0
    }
    .footer__nav-item a{
        padding-right: 0   
    }
}
@media screen and (max-width: 576px){
    .footer__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .footer__menu-navegacion{
        display: block;
    }
    .footer__nav-item{
        border-right: none;
        padding: 0.2rem;
    }
}
/*__Menú responsive */
.aparecer-menu{
    left: 0;
}
.visible{
    display: grid!important;
}
.hide{
    display: none!important;
}
.column{
    flex-direction: column;    
    justify-content: flex-start;
    width: 100%
}
.border-inf{
    border-bottom: 2px solid var(--text-color-menu);
}
.padding-tb{
    padding: 1.5rem 0;
}
.no-margin{
    margin: 0!important;
}
.uppercase{
    text-transform: uppercase;
}
.font-size-max{
    font-size: calc(var(--font-size) + .825rem);
}
.noscroll{
    overflow: hidden;
  }